.dellBlueBG {
    --sds-c-button-color-background: #0076ce;
    --slds-c-icon-color-foreground: #f4f7f9;
}

:host {
    --slds-c-button-brand-color-background: #0076ce;
}

a:link {
    color: #0076ce;
}

.pborder {
    --sds-c-input-radius-border: 0.25rem 0rem 0rem 0.25rem;
}

.rborder {
    --sds-c-button-radius-border: 0rem 0.25rem 0.25rem 0rem;
}
